.container {
    padding-top:67px;
}

/* cover */
.cover {
    background: url("/images/landing.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.body {
    width: 100%;
    min-height: 100%;
}
.cover .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
}
.cover .cover-inner .cover-contents {
    margin-top: 200px;
    text-align: center;
}
.cover .cover-inner .cover-contents h1 {
    color: #009688;
}


.mdl-layout {
    align-items: center;
}
.mdl-cell{
    min-width:300px;
}

.mdl-card {
    width:300px;
    height: 250px;
}

.mdl-card-auth {
    width:25%;
    height:100%;
    min-width:300px;
}

.mdl-card-edit {
    width:50%;
    height:100%;
    min-width:300px;
}

.mdl-textfield{
    width:100%;
}
/*.mdl-card__actions{*/
/*    margin: auto;*/
/*}*/
.mdl-card__supporting-text {
    margin:auto;
}
/*add button*/
.mdl-button--floating-action {
    position: fixed;
    right: 24px;
    bottom: 24px;
    padding-top: 24px;
    margin-bottom: 0;
    z-index: 998;
}

.mdl-dialog{
    width:350px;
    height:400px;
}

/*alert*/

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.pagination li{
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.mdl-button{
    min-width:30px;
}